@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color:#171717;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  background: black;
  z-index: 9999;
  color: white;
  cursor: pointer;
}

section {
  min-height: 100vh;
  padding-top: 100px;
  scroll-margin-top: 80px;
}

/* Parallax effect */

.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.parallax-image {
  background-image: url(/hero_image.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  will-change: transform;
}

.porto-text {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 100;
  padding: 20px;

}

.main-text {
  color: white;
  font-family: Ms Madi;
  font-weight: 400;
  font-size: 50px;

}

